apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: gcp-secrets-config-api
  namespace: studio-barber
spec:
  provider: gcp
  parameters:
    # La KSA utiliza esta GSA para la autenticación
    serviceAccount: api-permission@studiobarber-480215.iam.gserviceaccount.com
  secrets:
    -
    - resourceName: "api-client-secret-key"          # Nombre del secreto en GCSM
      fileName: "CLIENT_SECRET_KEY_FILE"             # Nombre del archivo que se creará en el Pod