apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: gcp-secrets-config-api
  namespace: studio-barber
spec:
  provider: gcp
  parameters:
    # La KSA utiliza esta GSA para la autenticaci칩n
    serviceAccount: api-permission@studiobarber-480215.iam.gserviceaccount.com
  secrets:
    - resourceName: "auth-secret-key" # Nombre del secreto en GCSM
      fileName: "keystore.jks"

    - resourceName: "api-client-secret-key"          # Nombre del secreto en GCSM
      fileName: "CLIENT_SECRET_KEY_FILE"             # Nombre del archivo que se crear치 en el Pod

  secretObjects:
    - secretName: keystore-password-k8s # Nombre del K8s Secret que se crear치
      type: Opaque
      data:
        - key: KEYSTORE_PASS                  # La clave en el K8s Secret
          objectName: keystore-password       # resourceName del secreto de la contrase침a en secret manager